opencv-python    # para cv2
numpy           # para numpy
onnxruntime    # para onnxruntime
rembg          # para rembg
Pillow         # para PIL
fastapi        # para FastAPI
python-multipart 
uvicorn  
mahotas